h1{
    margin-left: 3%;
    margin-top: 1%;
    font-family: sans-serif;
    font-weight: bold;
}

.Formcontainer{
    margin: 3%;
    margin-top: 2%;
    padding: 20px;
    background-color: white;
    display:block;
    
    
    
}